{% extends "padre.html" %}


{% load static %}




{% block contenido %}

<h1>Alta Alumnos</h1>
    <form action="alta_alumnos" method="POST">
        {% csrf_token %}
        <p> Nombre:</p>
        <input type="text" name="nombre" required>
        <p> Camada:</p>
        <input type="number" name="camada" required>

        <input type="submit" value="Enviar">



    </form>

{% endblock %} 


<a class="navbar-brand" href="{% url 'alta_alumnos' %}">Alta Alumnos</a>
<a class="navbar-brand" href="{% url 'alta_curso' %}">Alta Cursos</a>